.category-box {
  @include clearfix;
  overflow: hidden;
  list-style: none;
  padding:0px;
  margin: 0px;

  &:before,
  &:after {
    @include clearfix;
    content: "";
    position: absolute;
    clear: both;
  }

  li {
    display: inline-block;
    margin:5px;
  }

   @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
  }
}