<div class="header">
  <div class="header__inner-wrap">
    <div class="header__menu">
      <nav id="site-navbar" class="greedy">
        <div class="header__menu-item header__menu-item--lg">
          <a href="{{ site.url }}"> {{ site.author.name }} </a>
        </div>
        <ul class="links">
          {% for navbar_item in site.data.navigation.main %}
            {% if navbar_item.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="header__menu-item">
              <a href="{{ domain }}{{ navbar_item.url }}">{{ navbar_item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <button class="hidden" count="0">
          <div class="navbaricon"></div>
        </button>
        <ul class="hidden-links hidden">
        </ul>
      </nav>
    </div>
  </div>
</div>