<div class="header">
  <div class="header__inner-wrap">
    <div class="header__menu">
      <nav id="site-navbar" class="greedy">
        <div class="header__menu-item header__menu-item--lg">
          <a href="http://127.0.0.1:4000#about">Catalin Jurjiu</a>
        </div>
        <ul class="links">
          <li class="header__menu-item">
            <a href="http://127.0.0.1:4000#home">Home</a>
          </li>
          <li class="header__menu-item">
            <a href="http://127.0.0.1:4000#about">About</a>
          </li>
          <li class="header__menu-item">
            <a href="http://127.0.0.1:4000#blog">Blog</a>
          </li>
        </ul>
        <button class="hidden" count="0">
          <div class="navbaricon"></div>
        </button>
        <ul class="hidden-links hidden">
        </ul>
      </nav>
    </div>
  </div>
</div>